<!-- app/views/products/new.html.erb 生成AIそのものの名前と概要 -->
<div class="container mt-5">
  <h2>新しい製品を登録</h2>
  <%= form_for(@product) do |f| %>
    <div class="form-group">
      <%= f.label :name, "製品名" %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description, "説明" %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <%= f.submit "登録", class: 'btn btn-primary' %>
  <% end %>

  <%= link_to '一覧に戻る', products_path, class: 'btn btn-secondary' %>
</div>