<%= form_with model: ReviewForm.new, url: product_reviews_path(@product), local: true do |form| %>
  <div class="field">
    <%= form.hidden_field :product_id, value: @product.id %>
    <%= form.label :rating, "評価 (1〜5):" %>
    <%= form.number_field :rating, in: 1..5 %>
  </div>

  <div class="actions">
    <%= form.submit "レビューを投稿する" %>
  </div>
<% end %>